*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/values/api_keys.xml
/maps/src/main/res/values/api_keys.xml
/app/google-services.json
firebase.json
package-lock.json
.firebaserc
node_modules
/functions/node_modules/Users/Ondrej/AndroidStudioProjects/AIR19E1/functions/package-lock.json
/functions/package.json
/functions/tsconfig.json
/functions/lib
/functions/.gitignore
.idea/inspectionProfiles/Project_Default.xml
README.md
.idea/dictionaries/pablo.xml
